name: Build and publish npm package

on:
  workflow_call:
    inputs:
      branch_name:
        description: 'Name of the branch to build the package from'
        type: string
        required: false
        default: 'main'
      build_package:
        description: 'Build package before publishing'
        required: false
        type: boolean
        default: false
      disable_ignore_scripts_on_publish:
        description: 'If false, add --ignore-scripts flag to npm publish command'
        required: false
        type: boolean
        default: false
      node_version:
        description: 'Node.js version'
        required: false
        type: string
        default: '20'
      npm_registry_url:
        description: 'NPM registry URL'
        required: false
        type: string
        default: 'https://registry.npmjs.org/'
      package_dependencies:
        description: 'List of dependencies to update'
        type: string
        required: false
        default: ''
      package_name:
        description: 'Name of the package to publish'
        type: string
        required: true
      publish_package:
        description: 'Publish package to private registry'
        required: false
        type: boolean
        default: false
      release_name:
        description: 'Name of the release.'
        type: string
        required: false
      repository_name:
        description: 'Name of the repository to build the package from'
        type: string
        required: false
        default: ${{ github.repository }}
      working_directory:
        description: 'Working directory'
        required: false
        type: string
        default: '.'
    secrets:
      npm_registry_token:
        description: 'NPM registry authentication token'
        required: true
      sentry_auth_token:
        description: 'Sentry authentication token'
        required: false
      sentry_organisation:
        description: 'Sentry organisation name'
        required: false
      sentry_project:
        description: 'Sentry project name'
        required: false
    outputs:
      release_name:
        description: 'Name of the release.'
        value: ${{ jobs.buildAndPublish.outputs.release_name }}


jobs:
  buildAndPublish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      release_name: ${{ env.release_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ inputs.repository_name }}
          ref: ${{ inputs.branch_name }}

      - name: Set release name
        id: set_release_name
        run: |
          if [ -z "${{ inputs.release_name }}" ]; then
            echo "release_name=nightly" >> $GITHUB_ENV
          else
            echo "release_name=${{ inputs.release_name }}" >> $GITHUB_ENV
          fi

      - name: "Set package version"
        working-directory: ${{ inputs.working_directory }}
        run: |
          npm version prerelease --preid `git rev-parse --short HEAD`-`date +%Y%m%d%H%M` --no-git-tag-version

      - name: Configure node
        if: |
          inputs.publish_package ||
          inputs.build_package
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: ${{ inputs.node_version }}
          registry-url: '${{ inputs.npm_registry_url }}'
          scope: '@flowfuse'
          always-auth: true

      - name: Set dependecies versions
        if: ${{ inputs.package_dependencies != '' }}
        working-directory: ${{ inputs.working_directory }}
        run: |
          echo "## Dependencies used to build package" >> $GITHUB_STEP_SUMMARY
          for dependency in $(echo "${{ inputs.package_dependencies }}" | tr '\n' ' ')
          do
            dependency_name=$(echo $dependency | cut -d'=' -f1)
            dependency_version=$(echo $dependency | cut -d'=' -f2)
            if [ "$dependency_name" == "$dependency_version" ]; then
              dependency_version="nightly"
            fi
            dependency_semver=$(npm view "$dependency_name" dist-tags --json | jq -r --arg version "$dependency_version" '.[$version]')
            if [ -z "$dependency_semver" ] || [ "$dependency_semver" = "null" ]; then
              if [ "$dependency_version" = "nightly" ]; then
                echo "Could not resolve $dependency_name@nightly, falling back to latest"
                dependency_version="latest"
                dependency_semver=$(npm view "$dependency_name" dist-tags --json | jq -r --arg version "$dependency_version" '.[$version]')
              fi
            fi
            if [ -z "$dependency_semver" ] || [ "$dependency_semver" = "null" ]; then
              echo "::error title=Dependency resolution failed::Could not resolve $dependency_name@$dependency_version."
              exit 1
            fi
            echo "Setting $dependency_name to $dependency_semver"
            npm pkg set dependencies.$dependency_name=$dependency_semver
            echo "### :package: $dependency_name version: $dependency_semver" >> $GITHUB_STEP_SUMMARY
          done
          cat package.json

      - name: Build package
        if: ${{ inputs.build_package }}
        working-directory: ${{ inputs.working_directory }}
        run: |
          npm install --@flowforge:registry=${{ inputs.npm_registry_url }}
          npm run build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_registry_token }}
          SENTRY_AUTH_TOKEN: ${{ secrets.sentry_auth_token }}
          SENTRY_ORG: ${{ secrets.sentry_organisation }}
          SENRTY_PROJECT: ${{ secrets.sentry_project }}
      
      - name: Set package publish parameters
        if: ${{ inputs.publish_package }}
        run: |
          if [ ${{ inputs.disable_ignore_scripts_on_publish }} == 'false' ]; then
            echo "NPM_PUBLISH_PARAMETERS=--ignore-scripts" >> $GITHUB_ENV
          fi

      - name: Publish package
        if: ${{ inputs.publish_package }}
        working-directory: ${{ inputs.working_directory }}
        run: |
          npm publish ${{ env.NPM_PUBLISH_PARAMETERS }} --tag ${{ env.release_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_registry_token }}
